:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #0B404B;
    --gold: #D49125;
    --purple: #631825;
    --green: #345B38;
    --orange: #B73F1E;
  }


left-column {
    position: fixed;
    float: left;
    width: 200px;
}

header > img {
    opacity: 0.25;
    width: 100%;
    display: block;
}

header {
    max-height: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
}

main {
    background-color: white;
    float: right;
    padding-left: 220px;
    padding-right: 100px;
    margin: 50px;
  }

left-column > img {
    max-width: 200px;
    margin: 20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
}


